# Default ignored files
/../../2.3.1_Spring_MVC-Hibernate./.idea/shelf/
/../../2.3.1_Spring_MVC-Hibernate./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../2.3.1_Spring_MVC-Hibernate./.idea/httpRequests/
# Datasource local storage ignored files
/../../2.3.1_Spring_MVC-Hibernate./.idea/dataSources/
/../../2.3.1_Spring_MVC-Hibernate./.idea/dataSources.local.xml
